.bg-cta-color{
    background: linear-gradient(to bottom, #F4EBE4 50%, #fff 50%);
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.logo-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #575757;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);;
}

.btn-shop{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
    background-color: #C0AF9F;
    border-radius: 5px;
    padding: 5px 20px;
}

.btn-shop:hover{
    color: #fff;
    background-color: #000;
}

.cta-img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
}

.cta-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #575757;
}

.cta-sub-t{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #575757;
}

.btn-shop-img{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: #C0AF9F;
    border-radius: 5px;
    padding: 5px 20px;
}

.btn-shop-img:hover{
    background-color: #000;
    color: #fff;
}

.cta-para{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}

