.bg-cta-color{
    background: linear-gradient(to bottom, #F4EBE4 50%, #fff 50%);
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.logo-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #575757;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);;
}

.btn-shop{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
    background-color: #C0AF9F;
    border-radius: 5px;
    padding: 5px 20px;
}

.btn-shop:hover{
    color: #fff;
    background-color: #000;
}

.cta-img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
}

.cta-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #575757;
}

.cta-sub-t{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #575757;
}

.btn-shop-img{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: #C0AF9F;
    border-radius: 5px;
    padding: 5px 20px;
}

.btn-shop-img:hover{
    background-color: #000;
    color: #fff;
}

.cta-para{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}

.bg-services-color{
    background-color: #F2F2F0;
    margin-top: 100px;
    padding-bottom: 100px;
}

.sevices-intro{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
    text-align: center;
    padding: 50px 0px 10px 0px;
}

.services-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #575757;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.card-body{
    margin-top: -180px;
    background-color: #C0AF9F;
    text-align: center;
}

.services-card:hover{
    cursor: pointer;
}

.services-card .card-rm-l:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.services-img-br{
    border-radius: 50%;
}

.card-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #454545;
}

.card-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #454545;
}

.card-rm-l{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #454545;
    margin-top: 25px;
}

.au-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #575757
}

.au-para{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #575757;
}

.btn-lmb{
    background: #C0AF9F;
    border-radius: 5px;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-lmb:hover{
    color: #fff;
    background-color: #000;
}

.ttos-section{
    background: #C0AF9F;
}

.ttos-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #454545;
    text-align: center;
}

.ttos-para{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #454545;
}

.btn-ttos{
    background: #C0AF9F;
    border-radius: 5px;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-ttos:hover{
    color: #fff;
    background-color: #000;
}

.ttos-div{
    background: #B59D92;
    border-radius: 500px 500px 0px 0px;
    padding: 8vw 8vw 3vw;
    margin-top: 75px;
}

.footer-section{
    background-color: #F4EBE4;
    padding-top: 100px;
}

.divider{
    border-top: 2px solid #575757;
    width: 100%;
    margin-bottom: 50px;
}

.soc-icons{
    font-size: 32px;
    padding: 20px 0px;
    color: #575757;
}

.soc-icons:hover{
    color: #B59D92;
    cursor: pointer;
}

.footer-header{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
    color: #575757;
}

.footer-dash{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: #575757;
}

.footer-para{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}

.email-it{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
}

.form-control:focus{
    border:1px solid #000;
    box-shadow: none;
}

.btn:focus{
    box-shadow: none;
}

.btn-sign-up-img{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;  
    color: #FFFFFF;
    background-color: #575757;
    border-radius: 5px;
    padding: 5px 20px;
}

.btn-sign-up-img:hover{
    color: #fff;
    background-color: #000;
}

@media only screen and (max-width: 425px) {

    .bg-cta-color{
        background: linear-gradient(to bottom, #F4EBE4 75%, #fff 25%);
    }
    
    .hero-cta-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-cta-section>div{
        width: 100%;
    }

    .btn-shop-img{
        width: 50% !important;
    }

    .g-5, .gx-5{
        --bs-gutter-x: 0rem;
    }
    
    .aus-section{
        flex-direction: column;
        margin: 35px 0px;
    }

    .aus-tpb{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .aus-col-img{
        display: none;
    }

    .ttos-div{
        width: 80%;
    }

    .footer-section{
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .footer-container{
        flex-direction: column;
    }

    .footer-container :nth-child(1) { order: 3; }
    .footer-container :nth-child(2) { order: 1; }
    .footer-container :nth-child(3) { order: 2; }

    .footer-hp{
        width: 100%;
    }

    .footer-form{
        width: 100%;
    }

    .footer-soc-icons{
        width: 100%;
        flex-direction: row !important;
        display: flex !important;
        justify-content: space-around !important;
    }

    h1{
        font-size: 35px !important;
    }

    p{
        font-size: 16px !important;
    }
}

